.submitButton { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
    margin-left: 100px;
    
    position: relative;
    width: 159px;
    height: 44px;
    
    color:white; 
    background: #018484;
    border-radius: 8px;
    
    font: Europa-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
}