.layout {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 15%;
  grid-row-gap: 0px;
  margin-top: 20px;
  margin-left: 50%;
}

.text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  white-space: nowrap;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #000000;
}

.scoreCardButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  width: 272px;
  height: 45px;

  background: #334581;
  border-radius: 5px;

  position: static;
  width: 252px;
  height: 25px;
  left: 10px;
  top: 10px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;
}

.aboutButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;

  position: absolute;
  width: 176px;
  height: 45px;
  left: 1041px;
  top: 923px;

  background: #334581;
  border-radius: 5px;

  position: static;
  width: 156px;
  height: 25px;
  left: 10px;
  top: 10px;

  /* h4 */

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px;
}

.appLogos {
  display: grid;
  grid-template-columns: auto auto;
}
