@import url(//db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa);

.input {
   position: relative;
   width: 356px;
   height: 44px;
   background: #FFFFFF;
   border: 1px solid #CCCCCC;
   box-sizing: border-box;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
   border-radius: 4px;
   flex: none;
   order: 1;
   align-self: stretch;
   flex-grow: 0;
   margin-bottom: 30px;
   display: block;

   font: Europa-Regular;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;

}

.inputActive {
   position: relative;
   width: 384px;
   height: 44px;
   background: #FFFFFF;
   border: 1px solid #00BBBB;
   box-sizing: border-box;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
   border-radius: 4px;
}

.inputError {
   position: relative;
   width: 384px;
   height: 44px;
   background: #FFFFFF;
   border: 1px solid #C14444;
   box-sizing: border-box;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
   border-radius: 4px;
}

.inputs{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.inputKeyWords {
  width: 470px;
  height: 40px;
  padding-left: 10px;
  margin-right: 20px;
  margin-left: 30px;

  border: 1px solid #000000;
  border-radius: 2px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.inputBillNo {
  width: 286px;
  height: 40px;
  padding-left: 10px;
  margin-right: 20px;

  border: 1px solid #000000;
  border-radius: 2px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.inputSponsors {
  width: 374px;
  height: 40px;
  padding-left: 10px;
  margin-right: 20px;

  border: 1px solid #000000;
  border-radius: 2px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}

.searchButton {
  width: 93px;
  height: 40px;
  border: none;

  background: #334581;
  border-radius: 10px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;

  color: #FFFFFF;

}
